/* aside2{
        
        border: 1px, solid, gray;
        border-radius: 5px;
        margin: 10px 0;
        padding: 8px;
        font-size: 95%;
} */

.aside-bg{
        background: white;
        border: 1px solid $color-post-border;
        margin: 10px 0;
        padding: 8px;
        font-size: 95%;
        border-radius: 5px;

}
.text-aside2{
        color:$color-purple;
}

.aside-bg h2 {
        font-size: 25px;
}
.contenedor-articulos{
        &:hover{
                color:$color-purple;
                background: white;
        }
}
/* .font-size{
        
        font-size: 95%;
        
} */