
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.flex-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.flex-input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.section{
    border: 1px solid aqua;
}

.justify-between{
    display: flex;
    justify-content: space-between;
}

.div-all-discussion{
    border: 1px solid orange;
}

.div-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 99%;
    height: 95%;
    border: 1px solid gray;
    margin-top: 5px;
}

.div-attached{
    display: flex;
    width: 99%;
    flex-direction: row;
    align-items: flex-start; 
    border: 1px solid red;  
}

.info-button{ 
    margin-left: 65%;
}

.comment-button{
    display: flex;
    flex-direction: row;
    padding: 1%;
    align-items: flex-start;
}

.ul-comment-button{
    /* border: 1px solid red; */    
    margin-left: 5%;
}

.templates{
    margin-left: 5%;
}

.input-comm{
    width: 99%;
    height: 90%;
    border: 1px solid palevioletred;
}

.div-discussion-tittle{
    border: 1px solid green;  
}

.div-carita-discussion{
    border: 1px solid purple;
    height: 180px;
}

.carita{
    margin-top: 5px;
    max-width: 40px;
    border: 1px solid orangered;
}

.div-commenter{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    height: 100px;
    align-items: flex-start;
    justify-content: flex-start;
}

.commenter{
    display: flex;
    flex-direction: column;
}