$body-bg: #eef0f1;
$color-text: #08090a;
$text-comment: #808080; 
$color-btn: #363d44;
$bg-btn: #d2d6db;
$btn-hover: #b5bdc4;
$color-purple: #3b49df;
$color-hover: #323ebe;
$color-text-gray: #64707d;
$color-yellow: #F7DF1E;
$color-mint : #E5FFE3;
$color-turquoise: #009999;
$color-green: #008335;
$color-bg-footer: #d2d6db;
$color-text-footer: #4d5760;
$color-text-post: #202428;
$color-post-border: #eef0f1;