body {
  font-family: 'Roboto', sans-serif;
  color: #08090a;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

.bg {
  background: #eef0f1;
}

.aside-list ul {
  padding-left: 0;
}

.aside-list ul li {
  margin: 10px 0;
}

.aside-list ul li:hover {
  color: #3b49df;
  background: rgba(184, 178, 178, 0.507);
  border-radius: 5px;
  padding: 8px;
}

.More:hover {
  background: rgba(184, 178, 178, 0.507);
  border-radius: 5px;
  padding: 8px;
}

.tag-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag-aside img:hover {
  background: rgba(184, 178, 178, 0.507);
}

.imagen-size img {
  width: 100%;
  margin-bottom: 20px;
}

.imagen-size p {
  color: #3b49df;
}

.post-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.post-title h3 {
  font-size: 18px;
  margin-left: 10px;
  color: #202428;
}

.btn-secondary, .dropdown-menu {
  font-size: 14px;
}

.btn-secondary {
  border-color: #808080;
}

.aside2 {
  border: 5px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ph-post {
  max-width: 100%;
  margin: 2% 0 0 0;
}

.post-section {
  background: white;
  border: 1px solid #eef0f1;
}

.post-section .post-name-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.post-section .user-icon {
  margin-right: 10px;
}

.post-section .user-name {
  color: #363d44;
  font-size: 15px;
  padding: 0;
}

.post-section .user-name .text-gray {
  color: #808080;
  font-size: 13px;
}

.title-article {
  margin-left: 5%;
}

.title-article h1 {
  font-size: 20px;
}

.title-article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  color: #808080;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
}

.section-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10px;
}

.reaction-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 13px;
  margin-right: 20px;
}

.comment-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 13px;
}

.text-read {
  color: #808080;
  font-size: 11px;
  margin-right: 10px;
}

.wrapper-icon {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.btn-post {
  border: none;
  color: #363d44;
  background-color: #d2d6db;
  font-size: 15px;
  padding: 5px 12px;
}

.btn-post:hover {
  background: #b5bdc4;
}
/*# sourceMappingURL=style.css.map */